.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  min-height: 50px;
  background: #fff;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.words {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  cursor: pointer
}